/* Google font link  */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 62.5%;
}

ul > li{
    list-style: none;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* header site css start here  */

.header-main{
    background: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header-menu > ul > li{
    display: inline-block;
    padding: 0 18px;
}
.header-menu > ul > li:last-child{
    padding-right: 0;
}

.header-menu > ul > li>a{
    color: #fff;
    font-size: 1.6rem;transition: .2s;
}
.header-menu > ul > li>a:hover{
    color: #FF0E47;
}

/* banner content  */

.banner-content-main{
    text-align: center;
    padding: 150px 0;
}

.banner-content-main h1{
    color: #fff;
    font-size: 8rem ;
    font-weight: 800;
    margin-bottom: 3rem;
}

.banner-content-main h3{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 6rem;
}
.banner-content-main button{
    background: #FF0E47;
    border: 0;
    padding: 1.7rem 5rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 5rem;
    display: inline-block;
    border-radius: 5px;
}
/* header site css end here  */


/* Post Section Css Start Here  */

.post-section-main{
    padding: 60px 0;
}

.post-box{
    display: grid;
    grid-template-columns: 65% 35%;
}
.left-box-main{
    border-right: solid 1px #ddd;
}
.post-left-banner{
    padding: 0 60px;
}
.post-left{
    border-bottom: solid 1px #ddd;
}
.post-left h3{
    font-size: 2.5rem;
    font-weight: 400;
    color: #1b1e28;
}

.post-left p{
    color: #1b1e28;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 20px;
}

.post-left img{
    max-width: 100%;
    margin: 15px 0;
}

.read-more-btn {
    display: inline-block;
    font-size: 1.56rem;
    color: #ff0e47cf;
    font-weight: 400;
    transition: .3s;
    margin-top: 15px;
    margin-bottom: 30px;
}
.post-left a:hover{
    color: #1b1e28;
}

/* ? post single css start here  */

.single-post-main{
    padding: 60px;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}

.single-post{
    padding: 20px 0;
    margin-bottom: 40px;
}

.single-post h3 {
    font-size: 2.6rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 13px;
}

.single-post img{
    max-width: 100%;
}

.post-para {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    line-height: 1.6;
    padding: 13px 0;
}

.date-post {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #ff0e47 !important;
}


/* ? post single css end here  */

/* ! pagination css start here  */

.pagination-page ul{
    margin-left: 0;
    padding-left: 0;
    
}
.pagination-page{
    text-align: center;
}
.pagination-page ul > li{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 20px;
}
.pagination-page ul > li:first-child {
    
    background: #FF0E47;
    color: #fff;
    
}

.next-page-btn{
    font-size: 1.5rem;
    color: #000;
    display: inline-block;
    padding: 9px 30px;
    
}
.btn-default{
    border: solid 1px #FF0E47;
    transition: linear .3s;
}
.btn-default:hover{
    background: #FF0E47;
    color: #fff;
}
.pagination-box{
    display: flex;
    grid-template-columns: 2 1;
    justify-content: space-around;
}

/* ! pagination css end here  */

/* ? Post Right section css start here  */
.post-right{
    padding: 0 40px;
}

/* Search Box css Start  */

.search-box {
    border: 1px solid rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 6px;
}


.search-box .search-text {
    padding: 8px 17px;
    font-size: 1.6rem;
    border: 0;
    width: 100%;
}

.search-text:focus{
    outline: none;
}


.search-box .search-icon {
    font-size: 1.6rem;
}

/* Search Box Css End  */

/* Single Post Box Css start Here  */

.recent-post-main , .tag-section-box{
    padding: 30px;
    margin-top: 50px;
    border: 4px solid rgba(0, 0, 0, .05);
    border-radius: 5px;
}
.sing-head {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 11px;
}
.post-single-box{
    display: flex;
}

.post-single-box:hover{
    cursor: pointer;
}

.post-single-box img{
    width: 80px;
    height: 80px;
}

.post-single-text{
    margin-left: 15px;
}

.post-single-box{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.post-single-box:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.post-single-text h4{
    font-size: 1.7rem;
    font-weight: 700;
    color: #FF0E47;
    margin-bottom: 15px;
}

.post-single-text p {
    font-weight: 300;
    font-size: 1.55rem;
}

/* Single Post Box Css end Here  */

/* Tag Section Css Start here  */

.tag-link{
    display: inline-block;
    padding: 8px 11px;
    border: 1px solid #ddd;
    font-size: 1.4rem;
    color: #FF0E47;
    margin-bottom: 20px;
    margin-right: 8px;
    transition: linear .3s;
}
.tag-link:hover{
    background: #FF0E47;
    color: #fff;
}

.tab-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ! Tag Section Css End here  */
/* ? Post Right section css end here  */
/* ? Post Section Css End Here  */

/* ! Footer Section Css Start Here  */

.foot-main{
    background: #000;
}
.foot-another{
    border-bottom: 1px solid #ddd;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-single{
    width: 30%;
    text-align: center;
    padding: 30px;
    color: #fff;
}

.footer-single h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 2rem;
}
.footer-single p {
    font-size: 1.5rem;
    line-height: 1.7;
}

.footer-social{
    margin-top: 60px;
}

.footer-social li{
    display: inline-block;
    
}
.footer-social li a i {
    color: #000;
    font-size: 2rem;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
}

.footer-address li {
    margin: 10px 0;
    display: block;
    font-size: 1.4rem;
}


/*? footer text box css starte here  */

.footer-text-box{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text-box p {
    color: #fff;
    font-size: 1.7rem;
}

/* ? footer text box css starte here  */

/* ! Footer Section Css End Here  */
